
<div class="content">
<div class="container">
	<div class="row">
    <div style="height:100px"></div>
		<div class="col-md-6 col-md-offset-3" style="text-align:center; color:white;">

		<div id="quote1">       
       <h1 style="font-size: 30px;">There's only one of the real thing.</h1>                   
    </div>


    <div id="quote2">
      <h1 style="font-size: 30px; " > Mellow beats, friends, and lovers. </h1>
    </div>

    <div id="quote3">
      <h1 style="font-size: 30px;" >Giorno di Dio.</h1>
    </div>


		<a href="/login" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Signup</a>

		</div>

	</div>

</div>
</div>