{{#each users}} 
<h1 style='color:white;'> Hello, {{local.email}}</h1>
{{/each}}


	<a href="/profile" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Back to Profile.</a>
		<a href="/logout" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Logout.</a>