
<div class="container">

 <p style="color:white;">
    <strong>id</strong>: {{user._id}}<br>
    <strong>email</strong>: {{user.local.email}}<br>
    <strong>password</strong>:{{user.local.password}}
</p>


<a href="/edit" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Edit</a>
<a href="/index" class="btn btn-primary btn-md outline"><span class="fa fa-user"></span> Index</a>

<p>I guess it's time to get going. <a href="/logout">Logout</a></p>
</div>
